:root {
  /* Labels colors */
  --color-label-primary: #090909;
  --color-label-secondary: rgba(9, 9, 9, 0.6);
  --color-label-tertiary: rgba(9, 9, 9, 0.5);
  --color-label-quaternary: rgba(9, 9, 9, 0.4);
  --color-label-cinnamon: #f74227;

  /* Base colors */
  --color-background: #fff;
  --color-primary: #090909;
  --color-secondary: rgba(9, 9, 9, 0.6);
  --color-tertiary: rgba(9, 9, 9, 0.5);
  --color-quaternary: rgba(9, 9, 9, 0.4);
  --color-cinnamon: #f74227;

  /* Card */
  --color-card-primary: #fff;
  --color-card-secondary: "";
  --color-card-secondary: "";
  --color-card-gray: #f1f1f1;

  --color-tag-gray: #f1f1f1;
  --color-tag-active: #ff9df8;
  --color-tag-border: #ff9df8;

  /* Stroke colors */
  --color-stroke-primary: rgba(0, 0, 0, 0.8);
  --color-stroke-secondary: rgba(0, 0, 0, 0.6);
  --color-stroke-quaternary: rgba(0, 0, 0, 0.2);

  /* Surface colors */
  --color-surface-primary: #fff;
  --color-surface-primary-hover: rgba(255, 157, 248, 0.1);
  --color-surface-quaternary: rgba(0, 0, 0, 0.03);
  --color-surface-notice-primary: #000000;
  --color-surface-notice-secondary: rgba(0, 0, 0, 0.15);
  --color-surface-content-primary: #ff9df8;

  /* Icon colors */
  --color-icon-primary: #090909;
  --color-icon-notice-primary: #f74227;
  --color-icon-notice-secondary: #7ce514;

  /* Link colors */
  --color-link-primary: #f429d5;

  /* Button colors */
  --color-button-primary: #191a1e;
  --color-button-primary-label: #fff;
  --color-button-primary-hover: rgba(25, 26, 30, 0.9);
  --color-button-secondary: #ff9df8;
  --color-button-secondary-label: #191a1e;
  --color-button-secondary-hover: rgba(255, 157, 248, 0.9);
  --color-button-outline: #191a1e00;
  --color-button-outline-label: #191a1e;
  --color-button-outline-hover: #191a1e0f;
  --color-button-subtle: #ededed;
  --color-button-subtle-label: #000;
  --color-button-subtle-hover: #e1e1e1;
  --color-button-ghost: rgba(25, 26, 30, 0);
  --color-button-ghost-label: #000;
  --color-button-ghost-hover: rgba(25, 26, 30, 0.02);
  --color-button-link: rgba(255, 255, 255, 0);
  --color-button-link-label: #000;
  --color-button-link-label-hover: #00197e;
  --color-button-link-hover: rgba(255, 255, 255, 0);
}

/* Halloween Theme */
.dark-theme {
  /* Labels colors */
  --color-label-primary: #fff;
  --color-label-secondary: rgba(255, 255, 255, 0.6);
  --color-label-tertiary: rgba(255, 255, 255, 0.5);
  --color-label-quaternary: rgba(255, 255, 255, 0.4);
  --color-label-cinnamon: #f74227;

  /* Base colors */
  --color-background: #000;
  --color-primary: #fff;
  --color-secondary: rgba(255, 255, 255, 0.6);
  --color-tertiary: rgba(255, 255, 255, 0.5);
  --color-quaternary: rgba(255, 255, 255, 0.4);
  --color-cinnamon: #8b0000;

  /* Tag */
  --color-tag-gray: rgba(255, 255, 255, 0.12);
  --color-tag-active: rgba(255, 157, 248, 0.1);
  --color-tag-border: #fff;

  /* Card */
  --color-card-primary: #000;
  --color-card-secondary: "";
  --color-card-secondary: "";
  --color-card-gray: rgba(255, 255, 255, 0);

  /* Stroke colors */
  --color-stroke-primary: rgba(255, 255, 255, 0.8);
  --color-stroke-secondary: rgba(255, 255, 255, 0.6);
  --color-stroke-quaternary: rgba(255, 255, 255, 0.2);

  /* Surface colors */
  --color-surface-primary: #000;
  --color-surface-primary-hover: rgba(255, 102, 0, 0.1);
  --color-surface-quaternary: rgba(255, 102, 0, 0.03);
  --color-surface-notice-primary: #ff6600;
  --color-surface-notice-secondary: rgba(255, 102, 0, 0.15);
  --color-surface-content-primary: #8b0000;

  /* Icon colors */
  --color-icon-primary: #ffffff;
  --color-icon-notice-primary: rgba(255, 255, 255, 0.5);
  --color-icon-notice-secondary: rgba(255, 255, 255, 0.3);

  /* Link colors */
  --color-link-primary: #9932cc;

  /* Button colors */
  --color-button-primary: #ff70e9;
  --color-button-primary-label: #1a1a1a;
  --color-button-primary-hover: rgba(255, 102, 0, 0.9);
  --color-button-secondary: #ff70e9;
  --color-button-secondary-label: #fff;
  --color-button-secondary-hover: rgba(139, 0, 0, 0.9);
  --color-button-outline: #ff660000;
  --color-button-outline-label: #fff;
  --color-button-outline-hover: #ff70e9;
  --color-button-subtle: #4b0082;
  --color-button-subtle-label: #fff;
  --color-button-subtle-hover: #5e0a9e;
  --color-button-ghost: rgba(255, 102, 0, 0);
  --color-button-ghost-label: #fff;
  --color-button-ghost-hover: rgba(255, 102, 0, 0.02);
  --color-button-link: rgba(255, 102, 0, 0);
  --color-button-link-label: #fff;
  --color-button-link-label-hover: #9932cc;
  --color-button-link-hover: rgba(255, 102, 0, 0);
}
